<f:layout name="Module" />

<f:section name="Content">
    <div class="container">
        <h1>Site Settings for {site.websiteTitle}</h1>
        <p>
            <a href="{site.configuration.base}" target="_blank">
                {site.configuration.base}
                <core:icon identifier="actions-window-open" alternativeMarkupIdentifier="inline"/>
            </a>
        </p>
        <div class="settings-container">
            <div class="settings" data-theme="light">
                <div class="settings-navigation">
                    <f:render section="Menu" arguments="{items: categories, level: 0}" />
                </div>
                <div class="settings-body">
                    <div class="settings-category">
                        <h2>{categories.0.label}</h2>
                        <p>{categories.0.description}</p>
                    </div>
                    <f:for each="{settings.allDefinitions}" as="definition" iteration="iteration">
                        <f:variable name="currentValue" value="{settings.all.{definition.key}}" />
                        <div
                            class="settings-item settings-item-{definition.type}"
                            id="setting-{definition.key}"
                            role="treeitem"
                            tabindex="0"
                            aria-selected="false"
                            aria-level="1"
                            aria-setsize="{settings.allDefinitions -> f:count()}"
                            aria-posinset="{iteration.cycle}"
                            data-status="none"
                        >
                            <!-- data-status=modified|error|none-->
                            <div class="settings-item-indicator"></div>
                            <div class="settings-item-title">
                                <div class="settings-item-label">{definition.label}</div>
                                <div class="settings-item-description">{definition.description}</div>
                                <div class="settings-item-key">{definition.key}</div>
                            </div>
                            <div class="settings-item-control"><f:render section="Field" arguments="{_all}" /></div>
                            <div class="settings-item-message"></div>
                            <div class="settings-item-actions"><f:render section="Actions" arguments="{_all}" /></div>
                        </div>
                    </f:for>
                </div>
            </div>
        </div>
    </div>
</f:section>

<f:section name="Actions">
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <core:icon identifier="actions-cog" />
            <span class="visually-hidden">More actions</span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item nowrap" href="#">
                    <core:icon identifier="actions-undo" /> Reset Setting
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item nowrap" href="#">
                    <core:icon identifier="actions-clipboard" /> Copy Settings Identifier
                </a>
            </li>
            <li>
                <a class="dropdown-item nowrap" href="#">
                    <core:icon identifier="actions-clipboard-paste" /> Copy as YAML
                </a>
            </li>
        </ul>
    </div>
</f:section>

<f:section name="Menu">
    <f:if condition="{items}">
        <f:variable name="level">{level + 1}</f:variable>
        <ul data-level="{level}">
            <f:for each="{items}" as="item">
                <li>
                    <a href="#" class="settings-navigation-item">
                        <f:if condition="{item.icon}">
                            <span class="settings-navigation-item-icon"><core:icon identifier="{item.icon}" alternativeMarkupIdentifier="inline"/></span>
                        </f:if>
                        <span class="settings-navigation-item-label">{item.label}</span>
                    </a>
                    <f:render section="Menu" arguments="{items: item.categories, level: level}" />
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>

<f:section name="Field">
    <f:variable name="currentValue" value="{settings.all.{definition.key}}" />
    <f:switch expression="{definition.type}">
        <f:case value="string">
            <input
                class="form-control"
                id="{definition.key}"
                type="text"
                name="data[{definition.key}]"
                value="{currentValue}"
            />
        </f:case>
        <f:case value="color">
            <input
                class="form-control"
                type="color"
                id="{definition.key}"
                name="data[{definition.key}]"
                value="{currentValue}"
            />
        </f:case>
        <f:case value="bool">
            <input
                type="hidden"
                name="data[{definition.key}]"
                value="0"
            />
            <div class="form-check form-check-type-toggle">
                <input
                    type="checkbox"
                    name="data[{definition.key}]"
                    id="{definition.key}"
                    class="form-check-input"
                    value="{currentValue}"
                    {f:if(condition: currentValue, then: 'checked')}
                />
            </div>
        </f:case>
        <f:defaultCase>
            <input
                class="form-control"
                id="{definition.key}"
                type="text"
                name="data[{definition.key}]"
                value="{currentValue}"
                readonly
            />
        </f:defaultCase>
    </f:switch>
</f:section>
