.dashboard-modal-tabpanel .nav {
  margin: -15px -15px 0;
  padding: 15px 15px 0;
}

.dashboard-modal-items {
  display: flex;
  flex-flow: row wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.dashboard-modal-item {
  position: relative;
  width: 100%;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .dashboard-modal-item {
    width: 50%;
  }
}

.dashboard-modal-item-block {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px;
  border: 1px solid #cacaca;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.dashboard-modal-item-checkBox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.dashboard-modal-item-checkBox:checked ~ .dashboard-modal-item-block {
  border: 1px solid #313131;
}

.dashboard-modal-item-icon {
  margin-right: 20px;
}

.dashboard-modal-item-title {
  font-weight: bold;
}
