/*!
 * This file is part of the TYPO3 CMS project.
 * 
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 * 
 * For the full copyright and license information, please read the
 * LICENSE.txt file that was distributed with this source code.
 * 
 * The TYPO3 project - inspiring people to share!
 */
.ce-align-left{text-align:left}.ce-align-center{text-align:center}.ce-align-right{text-align:right}.frame-space-before-extra-small{margin-top:1em}.frame-space-before-small{margin-top:2em}.frame-space-before-medium{margin-top:3em}.frame-space-before-large{margin-top:4em}.frame-space-before-extra-large{margin-top:5em}.frame-space-after-extra-small{margin-bottom:1em}.frame-space-after-small{margin-bottom:2em}.frame-space-after-medium{margin-bottom:3em}.frame-space-after-large{margin-bottom:4em}.frame-space-after-extra-large{margin-bottom:5em}.frame-ruler-before:before{content:'';display:block;border-top:1px solid rgba(0,0,0,.25);margin-bottom:2em}.frame-ruler-after:after{content:'';display:block;border-bottom:1px solid rgba(0,0,0,.25);margin-top:2em}.frame-indent{margin-left:15%;margin-right:15%}.frame-indent-left{margin-left:33%}.frame-indent-right{margin-right:33%}